body {
  margin: 0;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*For the footer*/
  padding-bottom: 6rem;
  position: relative;
  min-height: 100vh;
}

/*NavBar Styling*/

.share-navbar {
	/*background-color: #8ADD9D;*/
  /*background: linear-gradient(#8ADD9D, transparent);*/
  background: transparent;
  /*border-bottom: 1px solid #1C5217;*/
}

nav a {
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
  margin-right: 10px;
}

nav span {
  color: black;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.fa-globe {
  color: #1C5217;
}

.sign-out-link:hover {
  cursor: pointer;
}

/*Styling Organzation Index */

.org-index-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.card-body a {
  color: white;
  text-decoration: underline;
}

/*Styling Organization Show Page */

.OrganizationsShowPage a {
  color: #1C5217;
  text-decoration: underline;
}

.campaign-item {
  margin-top: 20px;
}

.icon-button {
  border: none;
  background-color: white;
  cursor: pointer;
}

/*Styling footer */

.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 80px;
    background-color: #1C5217;
    color: white;
    padding-top:5px;
    /*background: linear-gradient(transparent, #8ADD9D);*/

}

.footer-social-icons {
      width: 350px;
      display: block;
      margin: 0 auto;
  }

  .footer-social-icons p {
    margin-top: 10px;
  }


  .footer_up {
      position: relative;
      padding: .5rem;
      margin: 0px;
      padding-top: 12px;
      background-color: #8ADD9D;
      text-align: center;
      color: #8ADD9D;
      height: 6em;
  }


  .social-icon {
          color: #8ADD9D;
      }

      ul.social-icons {
      	  margin-top: 15px;
          margin-left: 0px;
          padding: 0px;
      }

      .social-icons li {
          vertical-align: top;
          display: inline;
          height: 50px;
      }

      .social-icons a {
          /*color: #1C5217;*/
          color: #17BA37;
          text-decoration: none;
      }

      .footer-social-icons {
          width: 350px;
          display: block;
          margin: 0 auto;
      }

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #1C5217;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #1C5217;
}

.fa-twitter:hover {
       background-color: #00aced;
   }

   .fa-rss {
       padding: 10px 14px;
       -o-transition: .5s;
       -ms-transition: .5s;
       -moz-transition: .5s;
       -webkit-transition: .5s;
       transition: .5s;
       background-color: #1C5217;
   }


   .fa-rss:hover {
       background-color: #eb8231;
   }

   .fa-youtube {
       padding: 10px 14px;
       -o-transition: .5s;
       -ms-transition: .5s;
       -moz-transition: .5s;
       -webkit-transition: .5s;
       transition: .5s;
       background-color: #1C5217;
   }

   .fa-youtube:hover {
       background-color: #e64a41;
   }


   .fa-google-plus {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #1C5217;
}

.fa-google-plus:hover {
    background-color: #e25714;
}

.fa-linkedin {
      padding: 10px 14px;
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
      background-color: #1C5217;
  }

  .fa-linkedin:hover {
      background-color: #0073a4;
  }

.linksstyle{
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}